
<h2>Policy Portal</h2>

<div class="well">
<table class = "table table-striped table-hover">
  <thead>Policies
  </thead>

  <tbody>
    <div><% @policies.each do |policy| %></div>
      <tr>

        <td><%= link_to "Policy # #{policy.id}", policy %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<div class="well text-center"><%= link_to 'New Policy', new_policy_path, class: "btn btn-success" %></div>

